.bx-text {
    width: 100%;
    height: auto;

    padding: 20px 10%;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 3.3vmax
}

.text {
    line-height: 30px;
    text-align: justify;
    font-size: 20px;

}
@media screen and (max-width: 480px) {
    .text {
        text-align: left;
    }
    .second-title {
        font-size: 25px;
    }
}

.container-line {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.line {
    flex-grow: 1;
    border: 1px solid gold;
    height: 0px;
    margin: 0px 10px;
}
.line-1 {
    margin-left: 10%;
}
.line-2 {
    margin-right: 10%;
}
.figure {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 10px;
    height: 10px;

    background-color: gold;
}

.btn-bottom {
    width: 100%;
    max-width: 380px;
    min-width: 100px;
    margin-top: 30px;
}
