@font-face {
    font-family: Roboto;
    src: url(../assets/Roboto-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: #090909;
    padding-bottom: 80px;
}

.container-presentation {
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url(../assets/image-figma.jpg);
    background-size: cover;
    background-position: 29%;

    border-bottom: #FFD700 solid 4px;

    margin-bottom: 30px;
}

.header-presentation {
    width: 100%;
    height: 150px;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    width: fit-content;
    font-size: 3.7vmax;
}

@media screen and (max-width: 480px) {
    .fragment-title {
        display: none;
    }
}

.line-decoration {
    border: 1px solid #FFD700;
    flex-grow: 1;
    height: 0px;
    margin: 0px 10px;
}

.container-cite-presentation {
    width: 100%;
    height: calc(100vh - 150px);

    display: flex;
    justify-content: end;
    align-items: center;
}

.container-cite {
    width: fit-content;
    height: auto;

    color: white;

    display: flex;
    flex-direction: column;

    margin-right: 70px;
    padding: 30px;
}

.cite {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    font-size: 25px;
}

.btn-doc {
    width: 100%;
    border-radius: 5px;
    color: white;
    background-color: #CAA112;
    border: none;
    cursor: pointer;
    padding: 15px 0px;
    font-size: 25px;
    font-weight: bold;
    transition: .3s;
}
.btn-doc:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 900px) {
    .container-cite-presentation {
        justify-content: center;
    }
    .container-cite {
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.26);
    }
    .cite, .container-cite > cite, .title-btn, .btn-doc {
        font-size: 20px;
    }
    .header-presentation {
        height: 100px;
    }
}

cite {
    margin: 30px 0px;
    font-size: 25px;
}

.container-action {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-action > h3 {
    margin-bottom: 20px;
    font-size: 25px;
}
